<?php
return array(
    'i18n' => array(
        'enable' => true,
        'default_fallback' => array('en'),
        'default_locale' => 'en-US',
        'resource' => array(
            'vi-VN' => array()
        )
    ),

    'caching' => array(
        '__enable__' => true,
        '__default__' => 'widget',
        '__hash__' => '-8/RsLPePPy54BtNGBm*MqX7=vn8>j6QHJGG~49AN',
        'widget' => array(
            'storage' => 'Apc',
            'group' => 'html'
        ),
        'page_cache' => array(
            'storage' => 'Apc',
            'group' => 'html'
        ),
        'item' => array(
            'storage' => 'Apc',
            'group' => 'item'
        ),
    ),

    /*
     * Session
     */
    'session' => array(
        'storage' => '', // \Flywheel\Session\Storage\File
        'name'  => '54gdq!#',
        'lifetime' => 86400,
        //'cookie_domain' => '',
        'cookie_exception' => true,
        'cookie_basename' => 'HQ1310__',
        'cookie_secret' => 'P8(<G4v,?#y_GP2NWn89uI-/bMa/Y.l.kEiRtr9 .9[^1tiz_Z,-]8itVBnyd}DEV',
    ),

    /*
     * Config database connection
     */
    'database' => array(
        'default' => array(
            'adapter' => 'mysqli', //sqlite, mysql, mssql, oracle or pgsql
            'dsn' => 'mysql:host=your-db-host;dbname=your-db-name',
            'db_user' => 'your-db-name',
            'db_pass' => 'your-db-pasword',
            'cache_prepare' => true,
            'slaves' => array(
                /*'slave1' => array(
                    'adapter' => 'mysql',
                    'weight' => 2,
                    'dsn' => 'mysql:host=your-db-host;dbname=your-db-name',
                    'db_user' => 'your-db-name',
                    'db_pass' => 'your-db-pasword',
                ),
                'slave2' => array(
                    'adapter' => 'mysql',
                    'weight' => 2,
                    'dsn' => 'mysql:host=your-db-host;dbname=your-db-name',
                    'db_user' => 'your-db-name',
                    'db_pass' => 'your-db-pasword',
                ),*/
            ),
        ),
        '__default__' => 'default'
    ),

    'redis' => array(
        '__default__' => 'default',

        //config key info
        'default'   => array(
            'dsn' => '{your-redis-host}:{your-redis-port}/{db-index}',
            'option' => array(
                'timeout' => 30, //connection timeout
                'prefix' => 'custom-key-prefix'
            ),
        ),

        'consumer' => array(
            'dsn' => '{your-redis-host}:{your-redis-port}/{db-index}',
        ),
    ),

    'queue' => array(
        'api' => array(
            'adapter' => 'redis',
            'name' => 'api_background_queue',
            'config' => array(
                'dsn' => "$host:$port/15", //host:port/database
                'auth' => $auth
            ),
        ),

        'dispatch_event' => array(
            'adapter' => 'redis',
            'name' => 'dispatch_event_queue',
            'config' => array(
                'dsn' => "$host:$port/15",
                'auth' => $auth
            ),
        ),

        //repeat dispatch event repeat after 3 minutes
        'dispatch_event_3m' => array(
            'adapter' => 'redis',
            'name' => 'dispatch_event_3m_queue',
            'config' => array(
                'dsn' => "$host:$port/15",
                'auth' => $auth
            ),
        ),

        //repeat dispatch event repeat after 15 minutes
        'dispatch_event_15m' => array(
            'adapter' => 'redis',
            'name' => 'dispatch_event_15m_queue',
            'config' => array(
                'dsn' => "$host:$port/15",
                'auth' => $auth
            ),
        ),
    ),
);